<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Live video</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
<body>

<div class="container">


  <!-- Меню navbar -->
<nav class="navbar navbar-default">
  <!-- Бренд и переключатель, который вызывает меню на мобильных устройствах -->
  <div class="navbar-header">
    <!-- Кнопка с полосочками, которая открывает меню на мобильных устройствах -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- Бренд или логотип фирмы (обычно содержит ссылку на главную страницу) -->
    <a href="#" class="navbar-brand">Live video</a>
  </div>
  <!-- Содержимое меню (коллекция навигационных ссылок, формы и др.) -->
  <div class="collapse navbar-collapse" id="main-menu" >
      <!-- Список ссылок, расположенных слева -->
    <ul class="nav navbar-nav">
      <!--Элемент с классом active отображает ссылку подсвеченной -->
      <li class="active"><a href="{{ url_for('index') }}">Главная <span class="sr-only">(current)</span></a></li>
      <li><a href="#">О сайте</a></li>
    </ul>
      <!-- Список ссылок, расположенный справа -->
    <ul class="nav navbar-nav navbar-right">
      {% if g.user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Marketing stuff!</h1>
    {% block content %}{% endblock %}
  </div>
</div><!-- /.container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</body>
</html>