<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Hi, {{g.user.nickname}}!</h1>
<!-- posts is a Paginate object -->
{% for post in posts.items %}
    {% include 'posts.html' %}
{% endfor %}
{% if posts.has_prev %}
    <a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer videos</a>
{% else %}
    << Newer videos
{% endif %} |
{% if posts.has_next %}
    <a href="{{ url_for('index', page = posts.next_num) }}">Older videos >></a>
{% else %}
    Older videos >>
{% endif %}
{% endblock %}