<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <p class="lead"><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login as operator with Facebook</a></p>
{% endblock %}